body {
    background-color: lightgray;
    margin: 0;
    padding: 20px;
}

h1 {
    margin: 0;
    padding: 10px;
}

.enlaces {
    background-color: lime;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

.textoppal {
    background-color: yellow;
    padding: 10px;
    margin: 10px;
}

.imagen {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("https://assets.arquitecturaviva.com/assets/uploads/obras/39856/av_medium__av_115721.jpeg?h=53f6d444");
    margin: 10px;
}

.info {
    background-color: grey;
    padding: 10px;
    margin: 10px;
}

@media screen and (min-width: 320px) {
    .contenido {
        display: flex;
        flex-direction: column;
    }  
    .textos {
        display: flex;
        flex-direction: column;
    }
    .imagen {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .enlaces {
        width: 300px;
        height: fit-content;
    }
    .contenido {
        display: flex;
        flex-direction: row;
    }
    .imagen {
        display: block;
        width: 500px;
    }
    .main {
        display: flex;
        flex-direction: row;
        padding: 10px;
    } 
}

@media screen and (min-width: 1280px) {
    .textos {
        display: flex;
        flex-direction: row;
    }
    .textoppal {
        height: fit-content;
    }
    .info {
        height: fit-content;
    }
}